body{
    background-color:rgb(164, 246, 157);
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 700px;
    height: 500px;
   background: url(images/flower1.jpg)center/cover fixed no-repeat;
   position: relative;
   border: 5px solid black;
}
.btn-left{
    position: absolute;
    background-color: white;
    padding: 6px 8px;
    border-radius: 50%;
    top: 50%;
    left: -2%;
    transform: translateY(calc(-50%));
    cursor: pointer;
}
.btn-right{
    position: absolute;
    background-color: white;
    padding: 6px 8px;
    border-radius: 50%;
    top: 50%;
    right:-2%;
    transform: translateY(calc(-50%));
    cursor: pointer;
}